body {
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  background: #f2f2f2;
  text-align: center;
  position: relative;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.redefinition ul:not(.header-nav):not(.footer-items):not(.sorting-items) {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotel-search {
  position: relative;
}

.advantages-items2 li.advantages-items {
  color: #333333;
  line-height: 1.5;
}

.advantages-items h3:not(.not-black) {
  color: #000000;
}

.advantages h2 {
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 56px;
}

.main h3,
.main h1 {
  font-size: 21px;
  line-height: 1.24;
}

.hotel-search p {
  line-height: 1.71;
  color: #333333;
  margin-top: 25px;
  margin-bottom: 48px;
}

.hotel-search span {
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

.hotel-search button {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  border: none;
  width: 568px;
  height: 86px;
  text-transform: uppercase;
  background: #766357;
}

.hotel-search button:hover {
  background-color: #604e43;
}

.hotel-search button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.header li,
.main li,
.footer li {
  list-style-type: none;
}

.header ul:not(.header-nav),
.main ul,
.footer ul {
  padding: 0;
}

.header-nav a {
  color: #000000;
  font-weight: bold;
}

.header-nav a:focus,
.header-nav a:hover {
  color: #81b3d2;
}

.header-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-nav .active {
  color: #766357;
}

.header {
  position: relative;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0 72px;
}

.header-nav li {
  width: 239px;
  text-align: center;
}

.header-nav li:nth-child(2) {
  margin-right: auto;
}

.wrapper-header-main-footer {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2)
}

.logo {
  position: absolute;
  left: 530px;
  z-index: 1;
}

.welcome {
  position: relative;
  height: 509px;
  background:
    url(../img/welcome.svg) no-repeat,
    url(../img/background-photo.jpg) no-repeat;
  background-position: 50% 48%, 0 -83px;
  background-color: #669ec0;
  background-size: 458px 352px, cover;
  margin-bottom: 58px;
}

.welcome::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: 57px;
  background: url(../img/polygon.svg) no-repeat;
  background-position: 50% 48%;
  background-size: auto;
}

.main h1 {
  width: 440px;
  margin: auto;
  margin-bottom: 34px;
}

.advantages {
  margin-bottom: 51px;
}

.advantages-item div {
  width: 400px;
  background-color: #81b3d2;
  padding: 45px 0 60px;
}

.advantages-items2 li:nth-child(n+6) {
  width: 400px;
  background-color: #eeeeee;
  padding: 45px 0 60px;
}

.advantages-items h3 {
  width: 151px;
  margin: auto;
  line-height: 21px;
}

.advantages-items p {
  width: 270px;
  margin: auto;
}

.advantages-item2 p,
.advantages-item1 p {
  width: 305px;
}

.advantages-item5 p {
  width: 250px;
}

.advantages-items span {
  display: block;
  padding: 25px 0 22px;
}

.advantages-items span::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 4px;
  margin-right: 5px;
  width: 10px;
  border-top: 1px solid #333333;
}

.advantages-items span::after {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 4px;
  margin-left: 5px;
  width: 8px;
  border-top: 1px solid #333333;
}

.advantages-item2 span::before,
.advantages-item2 span::after,
.advantages-item1 span::before,
.advantages-item1 span::after {
  border-color: #ffffff;
}

.advantages-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.advantages-items2 {
  min-height: 1098px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper2 span:last-child {
  color: #333333;
}

.recommend-items2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.recommend-items p {
  margin: auto;
  width: 285px;
  color: #333333;
  line-height: 1.5;
}

.recommend-items2 li.recommend-items {
  width: 400px;
  min-height: 330px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.recommend-items2 li.recommend-items:nth-of-type(2) {
  background: url(../img/icon-1.svg) 50% 60px no-repeat;
}

.recommend-items2 li.recommend-items:nth-of-type(3){
  background: url(../img/icon-3.svg) 50% 60px no-repeat;
}

.recommend-items2 li.recommend-items:nth-of-type(4) {
  background: url(../img/icon-2.svg) 50% 56px no-repeat;
}

.recommend-items h3 {
  margin-top: 158px;
  margin-bottom: 23px;
}

.advantages-items2 li.advantages-items:nth-last-child(n+4) {
  color: #ffffff;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 125px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 101px 0 132px;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 2;
}

.footer span:first-child {
  font-size: 21px;
  font-weight: bold;
}

.footer p:last-child {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 150px;
  margin: 0 228px 0 256px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer-items li:nth-child(n+4) {
  margin-top: 5px;
}

.footer-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-items a:focus,
.footer-items a:hover {
  background-color: #669ec0;
}

.footer-items a:active {
  background-color: #5496bd;
}

.footer-item-a:active path {
  opacity: 0.3;
}

.htmlacademy:focus path,
.htmlacademy:hover path {
  fill: #81b3d2;
}

.htmlacademy:active path {
  fill: #bdbbbc;
}

.redefinition footer {
  position: inherit;
}

.filter legend {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 12px;
}

.filter .fieldset1 {
  margin-right: 115px;
}

.filter .fieldset2 {
  margin-right: auto;
}

.fieldset legend {
  margin-bottom: 30px;
}

.filter {
  color: #ffffff;
  padding: 28px 72px 35px 72px;
  height: 217px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/filter-background.jpg) 0 -295px;
  background-color: #669ec0;
}

.sorting {
  width: 891px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  font-size: 12px;
  margin-left: 10px;
}

.sorting>a:last-child {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 12px;
}

.sorting .sorting-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 700px;
  margin-top: -3px;
}

.sorting-items li {
  margin: 0;
  margin-right: 33px;
  line-height: 20px;
}

.sorting .sorting-items {
  margin-right: auto;
}

.sorting-items a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:focus,
.sorting a:hover {
  color: #81b3d2;
}

.sorting a:active {
  color: #000000;
  border: none;
}

.sorting .active2 {
  color: #81b3d2;
  border: none;
}

.sorting polygon:focus,
.sorting polygon:hover {
  fill: #000000;
}

.sorting polygon:active {
  fill: #81b3d2;
}

.sorting .active3 {
  fill: #81b3d2;
}

.sorting svg {
  width: 11px;
  height: 10px;
}

.sorting h2 {
  font-size: 12px;
  font-weight: 400;
  margin: 0 40px 0 0;
}

.star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 90px;
  height: 17px;
}

.star2 {
  width: 65px;
}

.star3 {
  width: 40px;
}

.rating-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 110px;
  min-height: 27px;
  background-color: #f2f2f2;
  color: #666666;
}

.hotels-items>li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 0 72px;
  text-align: left;
}

.hotels-items>li:last-child {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotels>div {
  display: block;
  min-height: 86px;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0 0 72px;
  font-size: 21px;
  font-weight: bold;
}

.hotels .wrapper {
  width: 259px;
  min-height: 90px;
  margin-left: 30px;
  margin-right: auto;
}

.hotels .wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 182px;
  margin-bottom: 17px;
}

.hotels .wrapper3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 90px;
}

.hotels h3 {
  font-size: 21px;
  margin: 0;
  margin-bottom: 16px;
  line-height: 0.7;
}

.hotels h3:focus,
.hotels h3:hover {
  color: #81b3d2;
}

.hotels h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels span:not(:nth-child(2)) {
  color: #333333;
}

.hotels span:nth-child(7) {
  color: #666666;
}

.hotels a:not(.title):not(.sorting-a) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  padding: 0 17px;
  min-height: 27px;
  background-color: #81b3d2;
}

.hotels a:not(.title):not(.sorting-a):focus,
.hotels a:not(.title):not(.sorting-a):hover {
  background-color: #669ec0;
}

.hotels a:not(.title):not(.sorting-a):active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hotels a:not(.title):not(.sorting-a):nth-of-type(1) {
  margin-right: 6px;
}

.hotels a:not(.title):not(.sorting-a):last-child {
  background-color: #766357;
}

.hotels a:not(.title):not(.sorting-a):last-child:focus,
.hotels a:not(.title):not(.sorting-a):last-child:hover {
  background-color: #604e43;
}

.hotels a:not(.title):not(.sorting-a):last-child:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.title {
  color: #000000;
}

.fieldset input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter span {
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  left: 0;
  top: -5px;
  width: 23px;
  height: 23px;
  background: url(../img/checkbox-off.svg);
}

.filter ul {
  text-align: left;
  width: 140px;
}

.filter li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  position: relative;
  margin-bottom: 30px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.input-checkbox:checked+span {
  width: 27px;
  background: url(../img/checkbox-on.svg);
}

.input-checkbox:focus+span {
  box-shadow: -4px 0 5px 0px #000000;
}

.fieldset3-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 318px;
  height: 36px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 5px 0;
  margin-bottom: 19px;
}

.fieldset3-wrapper input {
  font-size: 14px;
  color: #ffffff;
  background: transparent;
  border: none;
  text-align: center;
}

.fieldset3-wrapper input:first-child {
  border-right: 1px solid #ffffff;
}

.fieldset3-wrapper input:last-child {
  border-left: 1px solid #ffffff;
}

.slider {
  height: 2px;
  background: rgba(250, 250, 250, 0.3);
}

.slider div {
  position: relative;
  width: 273px;
  height: 2px;
  background: #ffffff;
}

.slider svg:first-child {
  position: absolute;
  left: 0;
  top: -9px;
  width: 20px;
  height: 23px;
}

.slider svg:first-child:focus,
.slider svg:first-child:hover {
  width: 22px;
  height: 25px;
  top: -10px;
}

.slider svg:last-child {
  position: absolute;
  right: 0;
  top: -9px;
  width: 20px;
  height: 23px;
}

.slider svg:last-child:focus,
.slider svg:last-child:hover {
  width: 22px;
  height: 25px;
  top: -10px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter button {
  background-color: transparent;
  color: #ffffff;
  width: 137px;
  min-height: 35px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: -7px;
}

.filter button:focus,
.filter button:hover {
  background-color: #ffffff;
  color: #000000;
}

.filter .fieldset3 {
  margin-bottom: 33px;
}

.filter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.redefinition footer {
  margin-left: 0;
}

.popup {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scaley(1);
  -ms-transform: scaley(1);
  transform: scaley(1);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  position: absolute;
  bottom: 202px;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  height: 395px;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 55px 55px;
  font-weight: bold;
  text-align: left;
  z-index: 2;
}

.modal-show {
  -webkit-transform: scaley(0);
  -ms-transform: scaley(0);
  transform: scaley(0);
}

.popup input {
  font-weight: bold;
  border: none;
}

.input-back {
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  padding-left: 13px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
}

.input-back:focus,
.input-back:hover {
  background-color: #ebebeb;
}

.input-back:focus {
  background-color: #ffffff;
  outline: solid 2px #e5e5e5;
}

.popup-form>label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 29px;
}

.input-back+button:focus,
.input-back+button:hover {
  background: url(../img/calendar-hover.svg);
  z-index: 33;
}

.input-back+button:active {
  background: url(../img/calendar-active.svg);
}

.back {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
  text-align: center;
}

.popup label:nth-of-type(n+3) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup .popup-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.margin41 {
  position: relative;
  margin-left: 41px;
}

.margin41::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.more:focus::after,
.more:focus::before,
.margin41:focus::after,
.margin27:focus::after,
.more:hover::after,
.more:hover::before,
.margin41:hover::after,
.margin27:hover::after {
  background-color: #000000;
}

.more:active::after,
.more:active::before,
.margin41:active::after,
.margin27:active::after {
  background-color: #81b3d2;
}

.margin27 {
  position: relative;
  margin-left: 27px;
}

.margin27::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.popup .popup-wrapper:first-of-type {
  margin-right: 48px;
}

.more {
  position: relative;
}

.more::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.popup-form {
  position: relative;
}

.more::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
  -webkit-transform: translateX(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) rotate(90deg);
  transform: translateX(-50%) rotate(90deg);
}

.popup-form > button:not(:last-of-type) {
  position: absolute;
  right: 9px;
  width: 21px;
  height: 22px;
  background: url(../img/calendar.svg);
  border: none;
  z-index: 1;
}

.popup-form > button:nth-of-type(1) {
  top: 7px;
}

.popup-form > button:nth-of-type(2) {
  top: 74px;
}

.popup-form > button:last-of-type {
  width: 100%;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  margin-top: 54px;
}

.popup-form > button:last-of-type:focus,
.popup-form > button:last-of-type:hover {
  background-color: #669ec0;
}

.popup-form > button:last-of-type:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hotel-search iframe {
  position: relative;
  z-index: 1;
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.input-back::-webkit-input-placeholder {
  color: #000000;
}

.input-back:-ms-input-placeholder {
  color: #000000;
}

.input-back::-ms-input-placeholder {
  color: #000000;
}

.input-back::placeholder {
  color: #000000;
}

.input-checkbox[disabled]+span {
  background: url(../img/checkbox-off-3.svg)
}

.input-checkbox[disabled]:checked+span {
  background: url(../img/checkbox-on-2.svg)
}

.header-nav li:nth-child(n+3) {
  text-align: right;
}

.header-nav li:nth-last-child(n+3) {
  text-align: left;
}

.sorting a[aria-label="верх"] {
  margin-left: auto;
}

.width {
  display: inline-block;
  width: 150px;
}